.main {
  min-height: 100vh;
  flex: 1;
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("./images/Happy Stevemas Banner.png");
  background-size: cover;
  background-position: top;
}

.createContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.createForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.leaveMessageHeader {
  font-family: fantasy;
  margin: 16px;
  text-align: center;
}

.messages {
  margin: 18px;
}

.title {
  color: antiquewhite;
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  text-align: center;
}

.description {
  text-align: center;
  color: antiquewhite;
  margin: 8px;
  font-size: 18px;
  font-style: italic;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 2rem;
}

.card {
  margin: 2rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  height: 77px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

.userName {
  width: 80%;
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: 8px;
  margin: 6px;
  box-shadow: 0px 0px 14px 0px lightgrey;
  background-color: whitesmoke;
}

.userMessage {
  width: 80%;
  height: 100px;
  border: none;
  border-radius: 10px;
  padding: 8px;
  margin: 6px;
  text-align: left;
  box-shadow: 0px 0px 14px 0px lightgrey;
  background-color: whitesmoke;
}

.saveBtn {
  width: 135px;
  height: 40px;
  border-radius: 40px;
  border: none;
  background-color: green;
  color: white;
  font-size: 16px;
  margin-top: 12px;
}

.messageCard {
  border: none;
  border-radius: 20px;
  padding: 4px 20px;
  margin: 12px;
  background-color: whitesmoke;
  color: black;
}

.messageName {
  margin: 10px;
  font-family: cursive;
  text-decoration: underline;
}

.messageText {
  margin: 10px;
  font-family: serif;
}

.questContainer {
  background-color: white;
  color: black;
  min-height: 100vh;
}

.questHeader {
  text-align: center;
  font-size: 19px;
  line-height: 30px;
  background-color: darkslategray;
  color: white;
  padding: 24px;
  margin-top: 0;
  margin-bottom: 24px;
}

.questQuestions {
  margin: 0 24px;
}

.questItem {
  padding: 3px;
}

.checkbox {
  margin-bottom: 8px;
  vertical-align: middle;
  background-color: white;
  color: white;
}

.questLabel {
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
}

.stepsList {
  margin-top: 14px;
  margin-bottom: 22px;
  list-style-type: none;
  padding-left: 24px;
}

.step {
  line-height: 1.4em;
  margin-top: 3px;
  margin-right: 8px;
  margin-bottom: 12px;
  margin-left: 8px;
  font-size: 17px;
}

.phraseInput {
  width: 210px;
  height: 35px;
  border: 1px solid gray;
  border-radius: 5px;
  padding-left: 10px;
  margin-left: 8px;
  font-size: 17px;
  background-color: white;
}

.link {
  text-decoration: underline;
  color: blue;
}

.divider {
  border: 0.5px solid #e8e8e8;
  margin: 14px;
}

.questBtnContainer {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 50px;
}

.questSubmitBtn {
  width: 252px;
  height: 44px;
  border-radius: 40px;
  border: none;
  background-color: slategray;
  color: white;
  font-size: 16px;
}

.loading {
  font-size: 24px;
}

.elfName {
  font-size: 24px;
  margin: 40px;
  font-weight: bold;
}

.elfNameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  color: black;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
